@import '../_settings', '../_tools';

.c-article {
	@include l-flex($align: center, $spacing: 2);

	box-sizing: border-box;
	width: 100%;

	@include l-display-bp {
		@include l-padding($x: 4);
	}

	&__hero-img {
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
		height: map-get($spacing, 5) * 3;
	}

	&__description {
		@include l-flex();
		@include l-padding($x: 3);

		box-sizing: border-box;
		max-width: $display-mw;
		width: 100%;

		@include l-display-bp {
			@include l-flex($justify: space-between, $direction: row, $spacing: 4);
			@include l-padding($x: 0);
		}
	}

	&__header {
		@include l-flex($spacing: 1);
		@include l-padding($b: 3);

		border-bottom: solid 1px color("neutral");

		@include l-display-bp {
			@include l-padding($b: 0);

			border-bottom: none;
		}
	}

	&__text {
		@include l-flex($spacing: 2);

		p {
			font-size: $article-size;
		}
	}

	&__links {
		@include l-flex($spacing: 1);

		p {
			font-size: $article-size;
		}
	}

	&__img-list {
		@include l-flex($align: center);
		@include l-margin($t: 3);

		&__item {
			@include l-flex($spacing: 1);
			max-width: $display-mw;
			
			img {
				width: 100%;
			}
		}
	}
}