@import '../_settings', '../_tools';

.c-article {
	@include l-flex($align: center, $spacing: 4);

	&__header {
		@include l-flex($align: center, $spacing: 5);

		&__img {
			background-size: cover;
			width: 100%;
		}

		&__title {
			@include l-flex($spacing: 2);
			@include l-padding($x: 4);

			@include l-display-bp {
				@include l-flex($align: center, $spacing: 2);
			}
		}
	}

	&__content {
		@include l-flex();

		p, small, figcaption {
			@include l-padding($x: 4);
		}
	}

	&__tldr {
		@include l-flex($spacing: 2);
		@include l-padding($x: 4, $y: 4);

		border-top: solid 1px color("muted");
	}
}