@import '../_settings', '../_tools';

.c-article {
	@include l-flex($align: center, $spacing: 2);

	box-sizing: border-box;
	width: 100%;

	@include l-display-bp {
		@include l-padding($x: 4);
	}

	&__hero-img {
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
		height: map-get($spacing, 5) * 3;

		@include l-display-bp {
			background-attachment: fixed;
			background-size: 100%;
		}
	}

	&__description {
		@include l-flex();
		@include l-padding($x: 3);

		box-sizing: border-box;
		max-width: $display-mw;
		width: 100%;

		@include l-display-bp {
			@include l-flex($justify: space-between, $direction: row, $spacing: 4);
			@include l-padding($x: 0);
		}
	}

	&__header {
		@include l-flex($spacing: 1);
		@include l-padding($b: 3);

		border-bottom: solid 1px color("neutral");

		@include l-display-bp {
			@include l-padding($b: 0);

			border-bottom: none;
		}
	}

	&__text {
		@include l-flex($spacing: 2);

		p {
			font-size: $article-size;
		}
	}

	&__links {
		@include l-flex($spacing: 1);

		p {
			font-size: $article-size;
		}
	}

	&__img-list {
		@include l-flex($align: center, $spacing: 3);
		@include l-margin($t: 3);

		@include l-display-bp {
			@include l-flex($align: center, $spacing: 4);
		}

		&__item {
			@include l-flex($spacing: 1);
			max-width: $display-mw;
			
			img {
				width: 100%;
			}
		}
	}

	&__timeline {
		@include l-margin($t: 4);
		@include l-flex();

		@include l-display-bp {
			@include l-margin($b: 4);

			margin-top: 96px;
		}

		&__item {
			@include l-flex($spacing: 0);
			@include l-margin($b: 1);
			
			@include l-display-bp {
				@include l-flex($align: center, $direction: row, $spacing: 2);
				@include l-margin($b: 0);
			}

			p {
				max-width: 60ch;
			}
		}

		&__img-list {
			@include l-flex();
			@include l-margin($b: 4);

			@include l-display-bp {
				@include l-margin($b: 0);
			}

			&__item img {
				width: 100%;
				max-width: 320px;
			}

			&__item figcaption {
				@include l-padding($l: 0);
			}
		}
	}
}