@import '../_settings', '../_tools';

.c-card-list {
  display: grid;
  grid-gap: spacing(3);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  .c-card {
		@include l-flex($spacing: 0);

		border-radius: spacing(1);
		color: color("dark");
		text-transform: none;

		&:hover {
			border-bottom: unset;
			text-decoration: none;
			
			@include l-display-bp {
				.c-card__thumbnail {
					background-size: 125%;
					box-shadow: 0 spacing(2) spacing(4) 0 hsla(0, 0%, 0%, .2);
				}
			}
		}

		&:active, &:focus {
			.c-card__thumbnail {
				background-size: 100%;
				box-shadow: none;
			}
		}
		
		&__thumbnail {
			background-position: center;
			background-size: 100%;
			flex-grow: 1;
			min-height: map-get($spacing, 5) * 3;
			transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&__title {
			@include l-padding($x: 3, $y: 2);

			@include l-display-bp {
				@include l-padding($x: 0);
			}
		}
  }
}