@import '../_settings', '../_tools';

.c-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: spacing(3);

  .c-card {
    @include flex-layout($justify: flex-end, $spacing: 0);

    background-color: $card-background-color;
    background-position: center;
    background-size: 100%;
    border-radius: $card-border-radius;
    box-shadow: 0 spacing(1) spacing(2) color("light-gray");
    color: color("black");
    min-height: $card-min-height;
    padding: $card-padding;
    text-transform: none;
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      background-size: 125%;
      border-bottom: unset;
      box-shadow: 0 spacing(2) spacing(4) color("light-gray");
    }

    &:active, &:focus {
      box-shadow: 0 spacing(1) spacing(1) color("light-gray");
    }
  }
}