@import '../_settings', '../_tools';

.c-header {
	@include l-flex($spacing: 3);
	@include l-margin($t: 5);
	@include l-padding($x: 3);

	@include l-display-bp {
		@include l-flex($align: center, $spacing: 3);
		@include l-padding($x: 0);
		text-align: center;
	}

	&__description br {
		display: none;

		@include l-display-bp {
			display: initial;
		}
	}

	&__nav {
		@include l-flex($direction: column, $spacing: 2);

		@include l-display-bp {
			@include l-flex($direction: row, $spacing: 4);

			li {
				margin-bottom: 0 !important;
			}
		}
	}
}