@import '../_settings', '../_tools';

.c-navbar {
	position: fixed;
	right: spacing(2);
	top: spacing(2);

	@include l-display-bp {
		@include l-padding($l: 2);

		align-self: flex-start;
		position: -webkit-sticky;
		position: sticky;
	}

	&__icon-list {
		display: none;

		@include l-display-bp {
			@include l-flex($spacing: 1);
			@include l-margin($t: 2);

			position: absolute;
		};

		.o-icon {
			z-index: 10;
		}

		.o-icon:hover + .c-navbar__icon__legend {
			right: -128px;
		}

		&__item:hover .o-icon {
			stroke: color("primary");
		}

		&__item:hover .c-navbar__icon__legend {
			right: -128px;
		}
	}

	&__icon {
		&--display-sm {
			@include l-display-bp {
				display: none;
			};
		}

		&__legend {
			@include l-flex($direction: row, $spacing: 2);
			@include l-padding($l: 4, $y: 1);

			background-color: color("dark");
			box-shadow: 0 spacing(1) spacing(2) 0 hsla(0, 0%, 0%, .3);
			color: color("light");
			margin-top: -34px;
			position: absolute;
			right: 48px;
			transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
			width: 120px;
			z-index: -10;
		}
	}
}