<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>{{index.title}}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="{{index.stylesheet.view}}" rel="stylesheet">
</head>

<body class="c-view">
	{{#it-digital-publications}}
		<figure style="background-image: url({{header.img}});" class="c-article__hero-img"></figure>
		{{> ../../../src/partials/navbar/navbar }}
		<article class="c-article u-m-bottom--4">
			<div class="c-article__description">
				<header class="c-article__header">
					{{#header}}
						<h2>{{title}}</h2>
						<small>{{tags}}.<br />Made for {{client}}.<br />{{year}}.</small>
						<small>Created with {{tools}}.</small>
					{{/header}}
				</header>
				<section class="c-article__text">
					{{#text}}
						<p>{{.}}</p>
					{{/text}}
					<ul class="c-articles__links o-list">
						{{#links}}
							<li>
								<p><a href="{{url}}">
										{{text}}
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="o-icon o-icon--article">
											<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
											<polyline points="15 3 21 3 21 9"></polyline>
											<line x1="10" y1="14" x2="21" y2="3"></line>
										</svg>
									</a></p>
							</li>
						{{/links}}
					</ul>
				</section>
			</div>
			<section class="c-article__img-list">
				{{#img-list}}
					<figure class="c-article__img-list__item">
						<img src="{{url}}" alt="{{alt}}">
						{{#caption}}
							<figcaption>{{.}}</figcaption>
						{{/caption}}
					</figure>
				{{/img-list}}
			</section>
		</article>
	{{/it-digital-publications}}

	<a href="{{index.url}}" class="u-m-bottom--3">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="o-icon o-icon--article">
			<line x1="19" y1="12" x2="5" y2="12" />
			<polyline points="12 19 5 12 12 5" />
		</svg>
		Check out other work
	</a>

	{{> ../../../src/partials/footer/footer }}

</body>

</html>