{{#card-list}}
<main class="c-card-list">
  {{#content}}
    <a href="{{url}}" class="c-card">
      <section>
        <h3>{{name}}</h3>
      </section>
    </a>
  {{/content}}
</main>
{{/card-list}}