{{#card-list}}
<main class="c-card-list">
  {{#content}}
    <a href="{{url}}" class="c-card" style="background-image: linear-gradient(-180deg, rgba(255,255,255,0) 50%, rgba(255,255,255,.9) 100%), url({{thumbnail}});">
      <h3>{{name}}</h3>
    </a>
  {{/content}}
</main>
{{/card-list}}