{{#header}}
	<header class="c-header">
		<h1 class="c-header__title">{{title}}</h1>
		<section class="c-header__info">
			<p class="u-m-bottom--2">{{subtitle}}</p>
			<h3 class="c-header__info__name">
				{{#description}}
					<span>{{.}}</span>
				{{/description}}
			</h3>
			<ul class="c-header__contact">
				{{#contact}}
				<li>
					<a href="{{url}}">{{name}}</a>
				</li>
				{{/contact}}
			</ul>
		</section>
	</header>
{{/header}}