{{#card-list}}
<main class="c-card-list">
  {{#content}}
    <a href="{{url}}" class="c-card" style="background-image: linear-gradient(-180deg, rgba(255,255,255,0) 50%, rgba(255,255,255,.9) 100%), url({{thumbnail}});" data-aos="fade-up" data-aos-delay="{{aos-delay}}" data-aos-duration="1500" data-aos-easing="ease-in-out" data-aos-once="true">
      <h2>{{name}}</h2>
    </a>
  {{/content}}
</main>
{{/card-list}}