<footer class="c-footer">
	<small>
		<ul class="c-footer__nav">
			{{#nav}}
				<li><a href="{{url}}"><strong>{{label}}</strong></a></li>
			{{/nav}}
		</ul>
		<span>This site was conceived, designed, and developed by me. Check it’s Sketch project and source code <a href="https://github.com/pedrofelipefroes/pedrofelipefroes.github.io">on GitHub</a>.</span>
		<br />
		<span>2018 Pedro Felipe Froes.</span>
	</small>
</footer>