<nav class="c-navbar">
	<a href="{{index.url}}">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="c-navbar__icon--display-sm o-icon o-icon--navbar-sm">
			<line x1="18" y1="6" x2="6" y2="18"></line>
			<line x1="6" y1="6" x2="18" y2="18"></line>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="c-navbar__icon--display-bp o-icon o-icon--navbar-bp">
			<rect x="3" y="3" width="7" height="7"></rect>
			<rect x="14" y="3" width="7" height="7"></rect>
			<rect x="14" y="14" width="7" height="7"></rect>
			<rect x="3" y="14" width="7" height="7"></rect>
		</svg>
	</a>
</nav>