<nav class="c-navbar">
	<a href="{{index.url}}">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="c-navbar__icon--display-sm o-icon o-icon--navbar-sm">
			<line x1="18" y1="6" x2="6" y2="18"></line>
			<line x1="6" y1="6" x2="18" y2="18"></line>
		</svg>
	</a>
	<div class="c-navbar__icon-list">
		<a href="{{index.url}}" class="c-navbar__icon-list__item">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="o-icon o-icon--navbar-bp">
				<rect x="3" y="3" width="7" height="7"></rect>
				<rect x="14" y="3" width="7" height="7"></rect>
				<rect x="14" y="14" width="7" height="7"></rect>
				<rect x="3" y="14" width="7" height="7"></rect>
			</svg>
			<span class="c-navbar__icon__legend">Back to Home</span>
		</a>
		<a href="{{index.url}}/about-me.html" class="c-navbar__icon-list__item">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="o-icon o-icon--navbar-bp">
				<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
				<circle cx="12" cy="7" r="4"></circle>
			</svg>
			<span class="c-navbar__icon__legend">About Me</span>
		</a>
		<a href="https://www.linkedin.com/in/pedrofelipefroes/" class="c-navbar__icon-list__item">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="o-icon o-icon--navbar-bp">
				<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
				<rect x="2" y="9" width="4" height="12"></rect>
				<circle cx="4" cy="4" r="2"></circle>
			</svg>
			<span class="c-navbar__icon__legend">LinkedIn Profile</span>
		</a>
		<a href="mailto:froes.designer.developer@gmail.com" class="c-navbar__icon-list__item">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="o-icon o-icon--navbar-bp">
				<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
				<polyline points="22,6 12,13 2,6"></polyline>
			</svg>
			<span class="c-navbar__icon__legend">Mail Contact</span>
		</a>
	</div>
</nav>