@import '_settings', '_tools';

:root {

  @each $name,
  $value in $colors {
    --color-#{$name}: #{$value};
  }

  @each $name,
  $value in $spacing {
    --spacing-#{$name}: #{$value};
  }
}

body {
  color: color("dark");
  font-family: $text-family;
}

p {
  font-size: $body-size;
  font-weight: $body-weight;
  line-height: $body-leading;
  max-width: $text-mw;
}

h1 {
  font-size: $large-title-size;
  font-weight: $large-title-weight;
  line-height: $large-title-1-leading;
}

h2 {
  font-size: $title-1-size;
  font-weight: $title-1-weight;
  line-height: $title-1-leading;
}

h3 {
  font-size: $title-2-size;
  font-weight: $title-2-weight;
  line-height: $title-2-leading;
}

em {
  font-style: $emphasis-style;
}

strong {
  font-weight: $strong-weight;
}

small {
  font-size: $caption-size;
  line-height: $caption-leading;
}

a {
  color: color("primary");
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

figcaption {
  @include l-padding($x: 3);
  
  color: color("secondary");
  font-size: $caption-size;
  line-height: $caption-leading;
  max-width: 160ch;
}