@import '_settings', '_tools';

.o-list {
	@include l-flex($spacing: 2);
}

.o-tag {
	color: color("secondary");
	font-weight: $font-weight-semibold;
	line-height: 1.2;
	text-transform: uppercase;
}

.o-text-img-link {
	@include l-flex($spacing: 1);
}