/* Colors */

$gray-050: hsl(0, 0%, 95%);
$gray-100: hsl(0, 0%, 90%);
$gray-300: hsl(0, 0%, 70%);
$gray-800: hsl(0, 0%, 20%);
$white: hsl(0, 0%, 100%);
$blue: hsl(200, 80%, 60%);

$colors: (
	"primary": $blue,
	"secondary": $gray-300, 
	"neutral": $gray-100,
	"muted": $gray-050,
	"dark": $gray-800,
	"light": $white
);

/* Spacing */

$spacing-base: 5px;
$spacing: (
	1: $spacing-base,
	2: $spacing-base*2,
	3: $spacing-base*4,
	4: $spacing-base*8,
	5: $spacing-base*16
);

/* Sizing */

$display-bp: 768px;
$display-mw: 1286px;
$text-mw: 80ch;

/*
 * Typography
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

$font-family-body: "Source Sans Pro", "SF Pro Text", "Helvetica Neue", "Helvetica", sans-serif;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$body-font-family: $font-family-body;
$body-font-size: 1rem;
$body-font-weight: $font-weight-normal;
$body-line-height: 1.5;

$h1-font-family: $font-family-body;
$h1-font-size: 2.25rem;
$h1-font-weight: $font-weight-bold;
$h1-line-height: 1;

$h2-font-size: 1.875rem;
$h2-font-weight: $font-weight-bold;
$h2-line-height: 1.2;

$h3-font-size: 1.25rem;
$h3-font-weight: $font-weight-semibold;
$h3-line-height: 1.25;

$em-font-style: italic;

$strong-font-weight: $font-weight-semibold;

$small-font-size: .75rem;
$small-line-height: 1.5;