@import '_settings';

@function color($name) {
  @return var(--color-#{$name});
}

@function spacing($name) {
  @return var(--spacing-#{$name});
}

@mixin display-bp {
  @media screen and (min-width: $display-bp) {
    @content;
  }
}

@mixin display-container {
  margin: 0 auto;
  max-width: $display-container-max-width;
}

@mixin flex-layout ($align: null, $justify: null, $direction: column, $spacing: map-get($spacing, 3)) {
  display: flex;
  flex-direction: $direction;

  @if $align { align-items: $align }
  @if $justify { justify-content: $justify }
  
  & > *:not(:last-child) {
    @if $direction == column { margin-bottom: $spacing; }
    @else if $direction == row { margin-right: $spacing; }
  }
  
  & > *:not(:first-child) {
    @if $direction == column-reverse { margin-bottom: $spacing; }
    @else if $direction == row-reverse { margin-right: $spacing; }
  }
}