<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>{{index.title}}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="{{index.stylesheet.view}}" rel="stylesheet">
</head>

<body class="c-article">
	{{#avenue-code-whitepapers-campaign}}
		<header class="c-article__header">
			<section class="c-article__header__img" style="background-image: url({{header-img.url}})"></section>
			<div class="c-article__header__title">
				<h1>{{title}}</h1>
				<small class="o-tag">{{tags}}</small>
				<section class="o-tool-list">
					{{#tools}}
						<div class="o-tool-list__item">
							<img src="{{url}}" alt="{{alt}}">
							<small>{{name}}</small>
						</div>
					{{/tools}}
				</section>
			</div>
		</header>
		<article class="c-article__content">
			{{#content}}
				<p>
					Avenue Code is an IT consulting agency which strongly believes in sharing knowledge as a way to promote growth to itself and to its consultants. Its whitepaper campaign does just that: a consultant writes about a topic he's passionate about, and AC Design and Marketing teams get together to create a digital publication to share all of that passion.
				</p>
				<section class="o-text-img-link">
					<p>
						The campaign started out in September 2017 and is currently in its fourth installment. I had the pleasure to colaborate with the Design team to create the concept and graphics for its very first whitepaper, <em><strong>Microservices Architecture as a Large-Scale Refactoring Tool</strong></em>. In order to translate such IT concept into graphics, we've represented microservices refactoring as minor asteroids coming from a larger one, while the space-themed metaphor was an ode to the author's love for astronomy. Images were created through Sketch, and the text layout was done with Pages.
					</p>
					<figure>
						<img src="{{img.microservices-1.url}}" alt="{{img.microservices-1.alt}}">
						<img src="{{img.microservices-2.url}}" alt="{{img.microservices-2.alt}}">
						<figcaption>A giant meteor being breaking into minor ones was the main creative concept to represent refactoring a large, monolithic application into a microservice architecture.</figcaption>
						<p><a href="https://info.avenuecode.com/microservices-architecture-whitepaper">Learn more about this whitepaper.</a></p>
					</figure>
				</section>
				<section class="o-text-img-link">
					<p>
						<em><strong>Mobile Web, Hybrid, or Native: A Roadmap to the Right App</em></strong> is the campaign's third installment, which I've worked as its creative lead designer. For this one, we wanted to do something actual and trendy at the time, so I've created some isometric iPhone X models and played with color gel gradients around them.
					</p>
					<figure>
						<img src="{{img.mobile-1.url}}" alt="{{img.mobile-1.alt}}">
						<img src="{{img.mobile-2.url}}" alt="{{img.mobile-2.alt}}">
						<img src="{{img.mobile-3.url}}" alt="{{img.mobile-3.alt}}">
						<figcaption><a href="https://github.com/sureskumar/sketch-isometric">Sketch Isometric Plugin</a> was used to create the basis of the iPhone X model; which later had its shape better defined only to have color gel and colorful apps applied on top of it.</figcaption>
						<p><a href="https://info.avenuecode.com/mobile-whitepaper">Learn more about this whitepaper.</a></p>
					</figure>
				</section>
				<section class="o-text-img-link">
					<p>
						The latest iteration of the campaign launched in August 2018 with <em><strong>Machine Learning to Improve Software Engine Search Results</em></strong>. Typography played a big role in this one: the font Source Code Pro has all the programming vibes the subject needs but becomes pop when combined with the electric colors and the pop-art-esque dresses designed for the whitepaper. In addition, in order to translate the concept that machine learning can improve the recognition of similar products online, I've designed an animated piece to convey the "match!" idea, as seen below.
					</p>
					<figure>
						<img src="{{img.machine-learning-1.url}}" alt="{{img.machine-learning-1.alt}}">
						<img src="{{img.machine-learning-2.url}}" alt="{{img.machine-learning-2.alt}}">
						<figcaption>An animated GIF was created through <a href="https://tumult.com/hype/">Hype</a> to convey the idea that machine learning can help business owners better classify similar products they're selling on their e-commerce.</figcaption>
						<p><a href="https://info.avenuecode.com/using-machine-learning-to-improve-software-engine-search-results">Learn more about this whitepaper.</a></p>
					</figure>
				</section>
				<p>You can download all of the afore-mentioned whitepapers for free through the links below:</p>
				<ul class="o-list">
					{{#links}}
						<li>
							<p><a href="{{url}}">{{text}}</a></p>
						</li>
					{{/links}}
				</ul>
			{{/content}}
		</article>
		<section class="c-article__tldr">
			<h3>TL;DR</h3>
			<p>{{tldr}}</p>
			<p><a href="{{index.url}}">Back to Home</a></p>
		</section>
	{{/avenue-code-whitepapers-campaign}}

	{{> ../../../src/partials/footer/footer }}

</body>

</html>