<!DOCTYPE html>
<html lang="en-US">

<head>
	{{> ../src/partials/head/head }}
	<link href="../../index.css" rel="stylesheet">
</head>

<body class="c-body">
	{{#avenue-code-whitepapers-campaign}}
		<header class="o-article__header">
			<h1>{{title}}</h1>
			<small class="o-article__tags">{{tags}}</small>
		</header>
		<article class="o-article__content">
			{{#content}}
				<p>
					Avenue Code is an IT consulting agency which strongly believes in sharing knowledge as a way to promote growth to itself and to its consultants. Its whitepaper campaign does just that: a consultant writes about a topic he's passionate about, and AC Design and Marketing teams get together to create a digital publication to share all of that passion.
				</p>
				<p>
					The campaign started out in September 2017 and is currently in its fourth installment. I had the pleasure of being the lead creative designer in 3 of them, including its very first one, "<a href="https://info.avenuecode.com/microservices-architecture-whitepaper">Microservices Architecture as a Large-Scale Refactoring Tool</a>." In order to translate such software development concept into graphics, we've represented the microservices refactoring as minor asteroids coming from a larger one, and this space-themed metaphor was an ode to the author's love for astronomy. Images were created through Sketch, and the text layout was done with Pages.
				</p>
				<p>
					"<a href="https://info.avenuecode.com/mobile-whitepaper">Mobile Web, Hybrid, or Native: A Roadmap to the Right App</a>" is the campaign's third installment. For this one, we wanted to do something actual and trendy at the time, so I've worked on some isometric iPhone X models (thanks to the <a href="https://github.com/sureskumar/sketch-isometric">Sketch Isometric Plugin</a>) and played with color gel gradients around them.
				</p>
				<p>
					The latest iteration of the campaign launched in August 2018 with "<a href="https://info.avenuecode.com/using-machine-learning-to-improve-software-engine-search-results">Using Machine Learning to Improve Software Engine Search Results</a>." Typography played a big role in this one: the
					font Source Code Pro has all the programming vibes the subject needs but becomes pop when combined with the electric colors and the pop-art-esque dresses designed for the whitepaper. In addition, in order to translate the concept that machine learning can improve the recognition of similar products online, I've designed an animated piece to convey the "match!" idea.
				</p>
				<img src="{{img}}" class="u-p-top--2 u-p-bottom--2" data-aos="fade-in" data-aos-once="true">
				<p>
					You can download all of the afore-mentioned whitepapers for free through the links below:
					<ul class="o-article__list">
						{{#links}}
							<li><a href="{{url}}">{{text}}</a></li>
						{{/links}}
					</ul>
				</p>
			{{/content}}
		</article>
		<section class="o-article__tldr">
			<h3>TL;DR</h3>
			<p>{{tldr}}</p>
		</section>
	{{/avenue-code-whitepapers-campaign}}

	{{> ../src/partials/scripts/scripts }}
</body>

</html>