<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>{{index.title}}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="{{index.stylesheet.view}}" rel="stylesheet">
</head>

<body class="c-view">
	{{#pto-scheduler-web-app}}
		<figure style="background-image: url({{header.img}});" class="c-article__hero-img"></figure>
		{{> ../../../src/partials/navbar/navbar }}
		<article class="c-article u-m-bottom--4">
			<div class="c-article__description">
				<header class="c-article__header">
					{{#header}}
						<h2>{{title}}</h2>
						<small>{{tags}}.<br />Made for {{client}}.<br />{{year}}.</small>
						<small>Created with {{tools}}.</small>
					{{/header}}
				</header>
				<section class="c-article__text">
					{{#text}}
						<p>{{.}}</p>
					{{/text}}
					{{#links}}
						<p>ACDC Plus is currently under development; learn more about the <a href="{{url}}">{{text}}</a>.</p>
					{{/links}}
				</section>
			</div>
			<section class="c-article__img-list">
				{{#img-list}}
					<figure class="c-article__img-list__item">
						<img src="{{url}}" alt="{{alt}}">
						{{#caption}}
							<figcaption>{{.}}</figcaption>
						{{/caption}}
					</figure>
				{{/img-list}}
			</section>
		</article>
	{{/pto-scheduler-web-app}}

	<a href="{{index.url}}" class="u-m-bottom--3">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="o-icon o-icon--article">
			<line x1="19" y1="12" x2="5" y2="12" />
			<polyline points="12 19 5 12 12 5" />
		</svg>
		Check out other work
	</a>

	{{> ../../../src/partials/footer/footer }}

</body>

</html>