.contact {
    align-items: center;
    padding-top: calc(6 * var(--sp-base));
}

.contact>h2 {
    line-height: calc(6 * var(--sp-base));
}

.contact-headline {
    display: flex;
}

.contact-headline:last-child {
    justify-content: flex-end;
}

@media screen and (min-width: 31.625rem) {
    .contact>h2 {
        display: flex;
    }

    .contact-headline:last-child {
        margin-left: .16em;
    }
}