{{#header}}
	<header class="c-header">
		<h1>
			{{#title}}
				<span>{{.}}</span><br/>
			{{/title}}
		</h1>
		<section>
			<h3>{{subtitle}}</h3>
			<p>{{description}}</p>
		</section>
		<ul>
			{{#contact}}
			<li>
				<a href="{{url}}">{{name}}</a>
			</li>
			{{/contact}}
		</ul>
	</header>
{{/header}}