<!DOCTYPE html>
<html lang="en-US">
	<head>
    {{> ../src/components/head/head }}
    <link href="../../index.css" rel="stylesheet">
	</head>
	
	<body class="c-body">
    {{#mobile-apps-whitepaper}}
      <h1>{{title}}</h1>
      <p>{{description}}</p>
    {{/mobile-apps-whitepaper}}
	</body>
</html>