.footer {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: calc(5 * var(--sp-base));
}

.footer-notice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-notice>div {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.footer-notice>div div {
    flex-shrink: 0;
}

@media screen and (min-width: 80rem) {
    .footer-notice {
        flex-direction: row;
    }

    .footer-notice p {
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 85.375rem) {
    .footer {
        padding-top: calc(2 * var(--sp-base));
    }
}