{{#index}}
	<!DOCTYPE html>
	<html lang="en-US">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<link href="index.css" rel="stylesheet">
		</head>
		<body class="c-body">
			{{> ../src/components/header/header }}
			{{> ../src/components/card-list/card-list }}
			{{> ../src/components/footer/footer }}
		</body>
	</html>
{{/index}}