<!DOCTYPE html>
<html lang="en-US">
	<head>
		{{> ../src/components/head/head }}
		
		<link href="index.css" rel="stylesheet">
	</head>
	
	<body class="c-body">
		{{> ../src/components/header/header }}
		{{> ../src/components/card-list/card-list }}
		{{> ../src/components/footer/footer }}
	</body>
</html>