<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="stylesheet" href="index.css" />
</head>

<body class="c-body">
	<header class="c-header">
		<h1>I am Froes, Designer and Developer.</h1>
		<p class="c-header__description">Design and code should intertwine to create whatever we imagine. <br />From elaborated graphics to thought-through design systems to practical CSS architectures,<br /> I'm an experienced liaison between the design and development mediums.</p>
		<ul class="c-header__nav">
			{{#nav}}
				<li>
					<h3><a href="{{url}}">{{label}}</a></h3>
				</li>
			{{/nav}}
		</ul>
	</header>

	{{> ../src/partials/card-list/card-list }}

	{{> ../src/partials/footer/footer }}

	{{> ../src/partials/scripts/scripts }}
</body>

</html>